.customer-feedback {
    max-height: 444px;
    overflow: auto;

    h2 {
        font-size: var(--clamp36);
    }

    .feedback {
        border-bottom: 1px solid;
        border-color: #35383f;

        &:last-child {
            border-color: transparent;
        }

        .stars {
            width: 18px;
            margin: 0 2px;
        }

        p {
            font-size: var(--clamp14);
            color: #78797d;
        }

    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 4px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray);
        border-radius: 4px;
    }
}