.navbar {
    background-color: var(--color-primary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    button {
        background-color: var(--color-gray);
    }

    input {
        padding-left: 35px;
        background-color: #2a2b30;
        border: 1px solid #393941;

        &::placeholder {
            color: var(--color-white);
        }
    }

    .collapse {
        @media (max-width:576px) {
            display: none;
            opacity: 0;
            transition: all 0.5s ease-in-out;

            &.show {
                display: block;
                opacity: 1;
            }
        }
    }

    .searchbar {
        .search-img {
            width: 18px;
            height: 18px;
        }
    }

    .logo {
        width: 30px;
        height: auto;
    }

    .navbar-rifht-img {
        width: 35px;
        height: 35px;
    }
}