.recent-orders {
    h2 {
        font-size: var(--clamp36);
    }

    .table-responsive {
        &::-webkit-scrollbar {
            height: 4px;
        }
    }
    table {
        min-width: 455px;


        thead {
            tr {
                border-color: #35383f;

                th {
                    color: var(--color-white);
                    background-color: transparent;
                    font-size: var(--clamp16);
                    font-weight: bold;
                    vertical-align: middle;
                }
            }
        }

        tbody {
            tr {
                border-color: #35383f;

                &:last-child {
                    border-color: transparent;
                }

                td {
                    vertical-align: middle;
                    font-size: var(--clamp12);
                    background-color: transparent;
                    color: var(--color-white);

                    .success {
                        background-color: #0F5646;
                        color: #00AC7A;
                        padding: 2px 10px;
                        border-radius: 20px;
                    }

                    .cancel {
                        background-color: #5E2F39;
                        color: #DD594D;
                        padding: 2px 10px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}